/* #btn {
  width: 30px;
  height: 30px;
  background: #668ad8; 
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1em;
  line-height: 30px;
  border-radius: 3px;
  color: #fff;
  border-bottom: solid 4px #627295;
} */



main {
  display: flex;
}

div {
  margin: 0 auto;
}

.title {
  font-size: 18px;
  text-align: center;
}

li {
  list-style-type: decimal;
  padding-bottom: 0;
}

li > p {
  margin-top: 0px;
}